<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doge-Post Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- <script src="./search.js"></script> -->

    <script>
      document.addEventListener("DOMContentLoaded", function () {
          // Get references to the input field and the search link
          var searchInput = document.getElementById("searchInput");
          var searchLink = document.getElementById("searchLink");

          // Add a click event listener to the "Search" button
          searchLink.addEventListener("click", function () {
              // Get the value from the input field
              var searchValue = searchInput.value;
              
              

              // Update the href attribute of the search link with the search value
              searchLink.href = "/search?key=" + encodeURIComponent(searchValue);
          });
      });
  </script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Doge-Post</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://cloud.mongodb.com/v2/6421caaed0eff531b3060bb3#/host/replicaSet/6421cbcf8a54ec18bf4caed8">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="addBlog">Add Blog</a>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <form class="d-flex" role="search">
                <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a id="searchLink" class="btn btn-outline-success" href="/search/">Search</a>
            </form>
          </form>
          </div>
        </div>
      </nav>
      <div class="row row-cols-1 row-cols-md-3 g-4">
       
        <% animals.forEach(function(animal) { %>
          <div class="col">
              <div class="card">
                  <img src="<%= animal.imageSrc %>" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title"><%= animal.title %></h5>
                      <p class="card-text"><%= animal.description %></p>
                      <a href="/animal/<%= animal._id%>" class="btn btn-primary">More</a>
                  </div>
              </div>
          </div>
          <% }); %>
      </div>
      <section>
        <center>Visitors count:<%=vcount %></center>
      </section>




</body>
</html>